### Program

# generic
.DS_Store
.vagrant

# code & config
_service-provider/*
_solr/schema.xml
_src/*
local/*
.env

/secrets/*.txt

### JetBrains

## .idea Directory
.idea

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml


### VisualStudioCode
## vscode Directory
.vscode/


# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix